############################################################################
##     ______     _ _                       ______                     _   ##
##    |  _  \   | (_)                      | ___ \                   | |   ##
##    | | | |___| |___   _____ _ __ _   _  | |_/ / ___   __ _ _ __ __| |   ##
##    | | | / _ \ | \ \ / / _ \ '__| | | | | ___ \/ _ \ / _` | '__/ _` |   ##
##    | |/ /  __/ | |\ V /  __/ |  | |_| | | |_/ / (_) | (_| | | | (_| |   ##
##    |___/ \___|_|_| \_/ \___|_|   \__, | \____/ \___/ \__,_|_|  \__,_|   ##
##                                   __/ |                                 ##
##                                  |___/                                  ##
#############################################################################

#-------Do not change this-------#
api: 'user'
#-------Do not change this-------#

board-location: ''
lang-file: en_US.yml

#Available Database type: mysql, h2
#   mysql - external server for storage
#   h2 - local file storage DeliveryBoard/data/currency-data.mv.db
#   'off' - turn database feature off
database: h2
#This section is used ONLY if you are using mysql database
mysql-settings:
  host: 'localhost'
  db-name: ''
  port: '3306'
  username: 'root'
  password: ''

#More details on using it can be found on the wiki: https://nukegh05t.gitbook.io/deliveryboard/
active-deliveries:
  - hourly
  - three-hourly
  - six-hourly
  - demoDelivery

#Enable/Disable the currency/item requirement for skipping delivery
paid-delivery-skip: true

#Item to deduct from their inventory
vanilla:
  enabled: false
  item: DIAMOND

#Use the built-in Delivery Token currency for skipping
delivery-tokens:
  enabled: true
  default: 5 #Amount of token to give by default when a player joins for the first time

#Will use economy plugin's currency if set to true
#The amount players will be charged for each map creation
economy:
  enabled: false

#GUI items and titles
#The static items can be custom items too
gui:
  fill-db-gui: true # Should the main board be filled with filler materials
  slot:     # Cannot exceed slot 26.
    accept: 26
    cancel: 18
    info: 11
    skip: 13
    icon: 15  # Can only be a single slot
    input: 22 # Can only be a single slot
  static:
    fillerMaterial: van@BLACK_STAINED_GLASS_PANE@1
    acceptMaterial: van@LIGHT_BLUE_STAINED_GLASS_PANE@1
    cancelMaterial: van@RED_STAINED_GLASS_PANE@1
    infoMaterial: van@BOOK@1
    skipMaterial: van@EMERALD@1
    nextPageMaterial: van@SPECTRAL_ARROW@1
    previousPageMaterial: van@SPECTRAL_ARROW@1
    infoPageMaterial: van@BOOK@1
    closePageMaterial: van@REDSTONE_BLOCK@1

  titles:
    boardTitle: "<#22ff20>&lDelivery Board"
    editBoardTitle: "&9Edit Delivery"

accumulated-rewards: #Rewards player after they complete/skip a certain number of quests
  10: #Number of quests to complete before this reward activates
    max-reward: 1 # Check hourly delivery for details about the reward section
    confirmed-rewards:
      - 'item@EMERALD@4'
      - 'comm@effect give {PLAYER_NAME} minecraft:absorption 30 4'
    random-rewards-pool:
      - 'item@DIAMOND@10@1'
      - 'item@APPLE@32@1'
      - 'item@GOLDEN_APPLE@2@1'
      - 'item@SHULKER_SHELL@4@1'
      - 'comm@xp add {PLAYER_NAME} 10 levels@1'
  15:
    max-reward: 2
    confirmed-rewards:
      - 'item@NETHERITE@3'
    random-rewards-pool:
      - 'item@DIAMOND@10@5'
      - 'item@APPLE@32@16'
      - 'comm@xp add {PLAYER_NAME} 20 levels@1'

delivery:
  hourly:
    icon-item: van@WHITE_WOOL@1 # Item used to represent this delivery
    title: "&9&lHOURLY Delivery" # GUI Item's display name & title of the delivery GUI
    gui-title: '&9&lHourly Delivery'
    position-slot: 11 # Position in GUI for this delivery
    additional-slot: [] # Additional slots that this delivery will occupy. Useful when having a custom GUI texture that uses multiple slots for buttons
    max-submissions: 10 # Maximum number of players allowed to submit this delivery
    cooldown: 3600 # In Seconds
    skip-cost: 1 # Amount of item/currency to deduct when skipping this delivery
    send-alert: true # Should an alert be sent whenever this delivery refreshes
    add-accumulation: true # Should this delivery contribute towards accumulated rewards count
    info-title: '&eInfo' # Title for the info item
    info-lore: #Available placeholders {DELIVERY} , {CURRENT_SUBMISSIONS} , {MAX_SUBMISSIONS} & {SKIP_COST}
    - '&7Deliver the required item'
    - '&7to claim your reward.'
    allowed-materials:
      - 'van@NETHERITE_SCRAP@2'
      - 'van@LEATHER@32'
      - 'van@WHEAT@64'
      - 'van@HOPPER@5'
      - 'van@DIAMOND@5'
      - 'van@LEATHER_BOOTS@1'
      - 'van@ENDER_PEARL@16'
      #- 'mmo@CUTLASS@SWORD@1' #Example using a default MMOItems item   [REMOVE FIRST # IN THIS LINE TO ENABLE]
      #- 'iad@iageneric:coin@1' #Example using an item from the Default pack of ItemsAdder (Isn't provided in the ItemsAdder.jar)
      #- 'orx@dagger@1' #Example using a default Oraxen item
      #- 'exi@Free_Heal@1' #Example using a default ExecutableItem (Available on both free & premium version of EI)
      #- 'eco@grappling_hook@1' #Example using a default EcoItems item
      #- 'cui@cui:purple_apple@1' #Example format using Custom Items plugin. Change "cui:" to support any CUI supported items from other plugins
    #You can setup everything related to rewards here
    reward-setup:
      #Random type gives a specific amount of reward randomly selected from the rewards list below
      mixed:
        #Maximum amount of rewards to give from the reward pool
        max-reward: 1
        #This is the list from which rewards for random type will be choosen from
        #Reward syntax consists 2 or 3 parts , each part is separated by '@' character.
        #The first part defines the type of reward. Can be 'item' or 'comm'.
        # ====================== Item Type =========================
        #   'item' type is used when rewarding a Minecraft item directly. It has 3 parts
        #   The second part is the item's material name.
        #   It must match the name defined in https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
        #   The third part is the amount of item to be rewarded.
        #   So, the reward string for giving a player 10 Apples would be 'item@APPLE@10'
        # ==========================================================
        # ===================== Command Type =======================
        #   'comm' type is used to run a command when that reward is selected. It has 2 parts
        #   The second part is the command that needs to be run without slash('/')
        #   The command type can use built in placeholders. (Discussed in the placeholder section)
        # ==========================================================
        # ===================== Placeholders =======================
        # Placeholders -> https://nukegh05t.gitbook.io/deliveryboard/placeholders
        #Rewards defined in the 'confirmed-rewards' section are always given
        confirmed-rewards:
          - 'item@EMERALD@1'
          - 'comm@effect give {PLAYER_NAME} minecraft:absorption 10 3'
        #Rewards from the 'random-rewards-pool' are given randomly with maximum amount of rewards being defined in 'max-reward'
        random-rewards-pool:
          - 'item@DIAMOND@5@1'
          - 'item@REDSTONE_BLOCK@2@1'
          - 'item@BLACK_SHULKER_BOX@1@1'
          - 'comm@xp add {PLAYER_NAME} 3 levels@1'

  #Three hourly delivery
  three-hourly:
    icon-item: van@GRASS_BLOCK@1
    title: "&2&lTH Delivery"
    gui-title: '&2&lTH Delivery Title'
    position-slot: 13
    additional-slot: []
    max-submissions: 10
    cooldown: 10800
    skip-cost: 2
    send-alert: true
    add-accumulation: true
    info-title: '&eInfo'
    info-lore:
    - '&7Deliver the required item'
    - '&7to claim your reward.'
    allowed-materials:
      - 'van@NETHERITE_INGOT@1'
      - 'van@IRON_BLOCK@10'
      - 'van@BREAD@16'
      - 'van@REDSTONE_LAMP@10'
      - 'van@SLIME_BALL@5'
      - 'van@ROTTEN_FLESH@16'
      - 'van@INK_SAC@16'
    reward-setup:
      mixed:
        max-reward: 1
        confirmed-rewards:
          - 'item@EMERALD@4'
          - 'comm@effect give {PLAYER_NAME} minecraft:absorption 30 4'
        random-rewards-pool:
          - 'item@DIAMOND@10@1'
          - 'item@APPLE@32@1'
          - 'item@GOLDEN_APPLE@2@1'
          - 'item@SHULKER_SHELL@4@1'
          - 'comm@xp add {PLAYER_NAME} 10 levels@1'
  #Three hourly delivery

  #Six hourly delivery
  six-hourly:
    icon-item: van@BIRCH_WOOD@1
    title: "&2&lSHDelivery"
    gui-title: '&2&lSHD Delivery Title'
    position-slot: 15
    additional-slot: []
    max-submissions: 10
    cooldown: 21600
    skip-cost: 3
    send-alert: true
    add-accumulation: true
    info-title: '&eInfo'
    info-lore:
    - '&7Deliver the required item'
    - '&7to claim your reward.'
    allowed-materials:
      - 'van@NETHERITE_SCRAP@8'
      - 'van@LEATHER@64'
      - 'van@IRON_INGOT@32'
      - 'van@HOPPER@10'
      - 'van@DIAMOND@5'
      - 'van@EMERALD@16'
      - 'van@BLAZE_ROD@10'
    reward-setup:
      mixed:
        max-reward: 1
        confirmed-rewards:
          - 'item@EMERALD@10'
          - 'comm@effect give {PLAYER_NAME} minecraft:absorption 60 4'
        random-rewards-pool:
          - 'item@DIAMOND@15@50'
          - 'item@GOLDEN_APPLE@3@1'
          - 'item@ENCHANTED_GOLDEN_APPLE@1@1'
          - 'item@SHULKER_SHELL@8@1'
          - 'comm@xp add {PLAYER_NAME} 25 levels@5'
  #Six hourly delivery
  demoDelivery:
    icon-item: van@IRON_INGOT@1
    title: "&2&lDemo Delivery"
    position-slot: 22
    additional-slot: []
    max-submissions: 10
    cooldown: 7200
    skip-cost: 1
    send-alert: true
    add-accumulation: true
    info-title: '&eInfo'
    info-lore:
    - '&7Deliver the required item'
    - '&7to claim your reward.'
    allowed-materials:
      - 'van@NETHERITE_SCRAP@8'
      - 'van@BLAZE_ROD@10'
    reward-setup:
      mixed:
        max-reward: 1
        confirmed-rewards:
          - 'item@EMERALD@19'
        random-rewards-pool:
          - 'item@DIAMOND@15@1'
          - 'item@GOLDEN_APPLE@3@1'
          - 'item@ENCHANTED_GOLDEN_APPLE@1@1'
          - 'item@SHULKER_SHELL@8@1'
          - 'comm@xp add {PLAYER_NAME} 25 levels@1'
